.submit-btn {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.submit-btn {
  color: #00bc8c;

  &:hover {
    cursor: pointer;
  }
}